---
import { Image } from "astro:assets"

import count from "@assets/count.png"
import mainUser from "@assets/main_user.png"

// Countries
import nigeria from "@assets/flag-nigeria.png"
import liberia from "@assets/flag-liberia.png"
import ghana from "@assets/flag-ghana.png"
import angola from "@assets/flag-angola.png"
import canada from "@assets/flag-canada.png"

// Users
import user1 from "@assets/user-5.png"
import user2 from "@assets/user-4.png"
import user3 from "@assets/user-1.png"
import user4 from "@assets/user-3.png"
import user5 from "@assets/user-6.png"
import NavBar from "./NavBar.astro"
---

<header class="header min-h-[85vh] pt-2 relative bg-200% sm:bg-150% lg:bg-100% flex flex-col justify-between">
    <NavBar />
    <div class="md:my-16">
        <div class="flex flex-col items-center gap-8">
            <!-- <Image src={count} alt="available countries" class="w-1/3 md:w-1/5 2xl:w-1/6" /> -->
            <div class="flex justify-center">
                <Image
                    src={liberia}
                    alt="Liberia"
                    title="Liberia"
                    class="w-16 h-16 rounded-full border-8 border-white -mr-4"
                />
                <Image
                    src={angola}
                    alt="Angola"
                    title="Angola"
                    class="w-16 h-16 rounded-full border-8 border-white -mr-4"
                />
                <Image
                    src={ghana}
                    alt="Ghana"
                    title="Ghana"
                    class="w-16 h-16 rounded-full border-8 border-white -mr-4"
                />
                <Image
                    src={nigeria}
                    alt="Nigeria"
                    title="Nigeria"
                    class="w-16 h-16 rounded-full border-8 border-white -mr-4"
                />
                <Image src={canada} alt="Canada" title="Canada" class="w-16 h-16 rounded-full border-8 border-white" />
            </div>
            <h1 class="font-extrabold text-3xl xs:text-4xl md:text-6xl text-center flex flex-col gap-2">
                <span
                    >Global
                    <span
                        class="text-transparent bg-gradient-to-r from-brand-primary-950 via-brand-primary-500 to-brand-primary-900 bg-clip-text"
                        >Payments</span
                    >
                    at the</span
                >
                <span>Tip of your Fingers</span>
            </h1>
            <p class="flex flex-col text-center text-gray-500 font-medium text-base md:text-xl">
                <span>Empowering Your Financial Success Unleashing</span>
                <span>the Power of Numbers</span>
            </p>
        </div>
    </div>
    <div class="flex justify-center w-full relative">
        <div class="relative flex justify-center">
            <div class="absolute bottom-[5%] left-8 bg-white w-24 h-24 rounded-full hidden lg:block">
                <Image
                    src={user1}
                    alt="users"
                    class="absolute w-20 h-20 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
                />
            </div>
            <!-- <Image src={mainUser} alt="user" class="w-[60%] lg:w-auto" /> -->
            <picture>
                <source media="(max-width: 768px)" srcset="/main_user-small.png" />
                <source media="(min-width: 769px)" srcset="/main_user.png" />
                <img src="/main_user.png" alt="Description" class="w-full" />
            </picture>
            <div class="absolute top-[5%] right-12 bg-white w-24 h-24 rounded-full hidden lg:block">
                <Image
                    src={user2}
                    alt="users"
                    class="absolute w-20 h-20 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
                />
            </div>
        </div>
        <div class="absolute right-40 top-1/3 bg-white w-20 h-20 rounded-full hidden lg:block">
            <Image
                src={user3}
                alt="users"
                class="absolute w-16 h-16 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
            />
        </div>
        <div class="absolute right-10 bottom-1 bg-white w-24 h-24 rounded-full hidden lg:block">
            <Image
                src={user4}
                alt="users"
                class="absolute w-20 h-20 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
            />
        </div>
        <div
            class="group absolute left-40 bg-white w-20 h-20 rounded-full hover:w-72 transition-all duration-200 hidden lg:block"
        >
            <Image
                src={user5}
                alt="users"
                class="absolute w-16 h-16 top-10 left-10 -translate-x-1/2 -translate-y-1/2"
            />
            <div
                class="w-56 absolute left-20 top-3 -translate-y-16 hidden group-hover:block group-hover:translate-y-0 transition-transform duration-500 delay-500"
            >
                <span class="text-green-500 text-lg font-semibold uppercase inline-block">+ &#8358;420,000</span>
                <span class="text-gray-400 font-medium inline-block">From Priscilia &bull; 4:28pm</span>
            </div>
        </div>
    </div>
</header>

<style>
    header {
        background-image: url("../assets/mapbase.png"),
            linear-gradient(177.28deg, #e6f5ff 1.8%, #f5fbff 12.9%, #bde2fd30 38.9%, #ffffff5c 74.92%);
        background-position: center bottom;
        background-repeat: no-repeat;
        /* background-size: 200%; */
    }
</style>
