---
import { Image } from "astro:assets"

// Countries
import nigeria from "@assets/flag-nigeria.png"
import liberia from "@assets/flag-liberia.png"
import ghana from "@assets/flag-ghana.png"
import angola from "@assets/flag-angola.png"
import canada from "@assets/flag-canada.png"

// Users
import user1 from "@assets/user-5.png"
import user2 from "@assets/user-4.png"
import user3 from "@assets/user-1.png"
import user4 from "@assets/user-3.png"
import user5 from "@assets/user-6.png"
import NavBar from "./NavBar.astro"
import AnimatedButton from "./AnimatedButton.astro"
---

<header
    class="header overflow-hidden gap-10 min-h-[85vh] lg:h-screen pb-8 md:pb-4 pt-10 lg:pt-5 relative bg-200% sm:bg-150% lg:bg-100% flex flex-col justify-around"
>
    <NavBar />
    <div class="mt-16 md:mt-20 md:my-16 min-[1920px]:my-24">
        <div class="flex flex-col items-center gap-8">
            <!-- <Image src={count} alt="available countries" class="w-1/3 md:w-1/5 2xl:w-1/6" /> -->
            <div class="flex justify-center">
                <div data-tooltip="Liberia" class="w-14 h-14 rounded-full border-8 border-white -mr-4">
                    <Image src={liberia} alt="Liberia" class="w-full h-full rounded-full" />
                </div>
                <div data-tooltip="Angola" class="w-14 h-14 rounded-full border-8 border-white -mr-4">
                    <Image src={angola} alt="Angola" class="w-full h-full rounded-full" />
                </div>
                <div data-tooltip="Ghana" class="w-14 h-14 rounded-full border-8 border-white -mr-4">
                    <Image src={ghana} alt="ghana" class="w-full h-full rounded-full" />
                </div>
                <div data-tooltip="Nigeria" class="w-14 h-14 rounded-full border-8 border-white -mr-4">
                    <Image src={nigeria} alt="nigeria" class="w-full h-full rounded-full" />
                </div>
                <div data-tooltip="Canada" class="w-14 h-14 rounded-full border-8 border-white -mr-4">
                    <Image src={canada} alt="canada" class="w-full h-full rounded-full" />
                </div>
            </div>
            <h1 class="font-extrabold text-3xl xs:text-4xl md:text-5xl text-center flex flex-col gap-2">
                <span
                    >Global
                    <span class="text-brand-primary-950">Payments</span>
                    at the</span
                >
                <span>Tip of your Fingers</span>
            </h1>
            <p class="flex flex-col text-center text-gray-500 font-medium text-base md:text-xl">
                <span>Connect and support your loved ones as effortlessly as dreaming...</span>
                <span>Let's simplify every payment for you and your businesses</span>
            </p>
        </div>
    </div>
    <!-- Removed flex for hidden -->
    <div class="hidden lg:flex justify-center w-full relative bottom-10 xl:bottom-12">
        <div class="relative flex justify-center">
            <AnimatedButton classList="bottom-[5%] left-0" imgSrc={user1} transactionAmt="$500" time="4:28pm" />

            <picture>
                <!-- <source media="(max-width: 899px)" srcset="/main_user-md.png" />
                <source media="(min-width: 900px) and (max-width: 1023px)" srcset="/main_user-md.png" /> -->
                <source media="(min-width: 1024px) and (max-width: 1749px)" srcset="/main_user.png" />
                <source media="(min-width: 1750px)" srcset="/main_user-2xl.png" />
                <img src="/main_user.png" alt="Description" />
            </picture>

            <AnimatedButton classList="top-[5%] right-6" imgSrc={user2} transactionAmt="₦ 100,000" time="7:15am" />
        </div>

        <AnimatedButton
            classList="right-[15%] xl:right-[20%] -top-24"
            imgSrc={user3}
            transactionAmt="GH₵ 20,000"
            time="1:45pm"
        />

        <AnimatedButton
            classList="right-[10%] xl:right-[15%] top-1/3"
            imgSrc={user4}
            transactionAmt="₦ 150,000"
            time="11:24am"
        />
        <AnimatedButton classList="left-[10%] xl:left-[15%]" imgSrc={user5} transactionAmt="Kz 42,000" time="9:31am" />
    </div>
    <div class="container lg:hidden bottom-0">
        <div class="big-image">
            <img src="/main_user-sm.png" alt="Big Image" />
        </div>
        <div class="small-images">
            <div class="small-image" id="img1">
                <Image src={user1} alt="Small Image 1" />
            </div>
            <div class="small-image" id="img2">
                <Image src={user2} alt="Small Image 2" />
            </div>
            <div class="small-image" id="img3">
                <Image src={user3} alt="Small Image 3" />
            </div>
            <div class="small-image" id="img4">
                <Image src={user4} alt="Small Image 4" />
            </div>
            <!-- <div class="small-image" id="img5">
                <img src="/main_user-sm.png" alt="Small Image 5" />
            </div> -->
        </div>
    </div>
</header>

<style>
    /* Add this attribute to the element that needs a tooltip */
    [data-tooltip] {
        position: relative;
        z-index: 2;
        cursor: pointer;
    }

    /* Hide the tooltip content by default */
    [data-tooltip]:before,
    [data-tooltip]:after {
        visibility: hidden;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0;
        pointer-events: none;
    }

    /* Position tooltip above the element */
    [data-tooltip]:before {
        position: absolute;
        top: 150%;
        left: 50%;
        margin-bottom: 5px;
        margin-left: -50px;
        padding: 7px;
        width: 100px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        background-color: #000;
        background-color: hsla(0, 0%, 20%, 0.9);
        color: #fff;
        content: attr(data-tooltip);
        text-align: center;
        font-size: 14px;
        line-height: 1.2;
    }

    /* Triangle hack to make tooltip look like a speech bubble */
    [data-tooltip]:after {
        position: absolute;
        top: 130%;
        left: 50%;
        margin-left: -5px;
        width: 0;
        /* border-top: 5px solid #000; */
        border-bottom: 5px solid hsla(0, 0%, 20%, 0.9);
        border-right: 5px solid transparent;
        border-left: 5px solid transparent;
        content: " ";
        font-size: 0;
        line-height: 0;
    }

    /* Show tooltip content on hover */
    [data-tooltip]:hover:before,
    [data-tooltip]:hover:after {
        visibility: visible;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1;
    }
</style>

<style>
    header {
        background-image: url("../assets/mapbase.png"),
            linear-gradient(177.28deg, #f1f8fc 1.8%, #f5fbff 12.9%, #bde2fd30 38.9%, #ffffff5c 74.92%);
        background-position: center bottom;
        background-repeat: no-repeat;
        /* background-size: 200%; */
    }
    /* styles.css */

    .container {
        position: relative;
        width: 300px;
        height: 300px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 100%;
        border: 20px solid #d0ebff;
    }

    .big-image {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .big-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .small-images {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 350px;
        height: 350px;
        transform: translate(-50%, -50%);
        animation: rotate 30s infinite linear;
    }

    .small-image {
        position: absolute;
        width: 60px;
        height: 60px;
    }

    .small-image img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
    }

    /* Position the small images around the big image */
    #img1 {
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    #img2 {
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }
    #img3 {
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    #img4 {
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }
    #img5 {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #img1, #img3 {
        animation: counterX 30s infinite linear;
    }

    #img2, #img4 {
        animation: counterY 30s infinite linear;
    }
    @keyframes rotate {
        from {
            transform: translate(-50%, -50%) rotate(0deg);
        }
        to {
            transform: translate(-50%, -50%) rotate(360deg);
        }
    }

    /* The smaller images would rotate in the opposite direction to prevent the images from turning upside down */
    @keyframes counterX {
        from {
            transform: translateX(-50%) rotate(0deg);
        }
        to {
            transform: translateX(-50%) rotate(-360deg);
        }
    }

    @keyframes counterY {
        from {
            transform: translateY(-50%) rotate(0deg);
        }
        to {
            transform: translateY(-50%) rotate(-360deg);
        }
    }


    @media screen and (min-width: 480px) {
        .container {
            width: 400px;
            height: 400px;
        }

        .small-images {
            width: 475px;
            height: 475px;
        }

        .small-image {
            position: absolute;
            width: 80px;
            height: 80px;
        }
    }
</style>
