---
import { Image } from "astro:assets"

import deviceUp from "@assets/device-up.png"
import deviceDown from "@assets/device-down.png"
import mockup from "@assets/mockup.png"
---

<section
    class="grid grid-cols-1 lg:grid-cols-3 lg:grid-rows-[auto] py-16 px-8 md:px-20 lg:px-16 xl:px-32 justify-center gap-5 relative"
>
    <div class="bg-brand-primary-200 rounded-xl pt-14 flex justify-center lg:hidden">
        <Image src={deviceUp} alt="device mock" />
    </div>
    <div class="lg:col-start-1 lg:row-start-1 lg:h-[65vh]">
        <div class="observer">
            <h3 class="font-semibold text-2xl py-3 text-brand-primary-400 transition-all duration-700">
                Send money and make payments seamlessly
            </h3>
            <p class="py-4 leading-7 text-gray-300 transition-all duration-500">
                Our platform offers multiple currency wallets, simplifying the process of sending and receiving money in
                your preferred currency, all within one global app accepted in our operating countries
            </p>
        </div>
    </div>
    <div class="bg-brand-primary-200 rounded-xl pb-14 flex justify-center lg:hidden">
        <Image src={deviceDown} alt="device mock" />
    </div>
    <div class="lg:col-start-3 lg:row-start-2 lg:h-[65vh]">
        <div class="observer">
            <h3 class="font-semibold text-2xl py-3 text-brand-primary-400 transition-all duration-700">
                Swap currencies seamlessly with our transparent and competitive rates
            </h3>
            <p class="py-4 leading-7 text-gray-300 transition-all duration-700">
                Our platform offers multiple currency wallets, simplifying the process of sending and receiving money in
                your preferred currency, all within one global app accepted in our operating countries
            </p>
        </div>
    </div>
    <div class="bg-brand-primary-200 rounded-xl pt-14 flex justify-center lg:hidden">
        <Image src={deviceUp} alt="device mock" />
    </div>
    <div class="lg:col-start-1 lg:row-start-3 lg:h-[65vh]">
        <div class="observer">
            <h3 class="font-semibold text-2xl py-3 text-brand-primary-400 transition-all duration-700">
                Fund Multiple Accounts instantly
            </h3>
            <p class="py-4 leading-7 text-gray-300 transition-all duration-700">
                Our platform offers multiple currency wallets, simplifying the process of sending and receiving money in
                your preferred currency, all within one global app accepted in our operating countries
            </p>
        </div>
    </div>
    <div class="bg-brand-primary-200 rounded-xl pt-14 flex justify-center lg:hidden">
        <Image src={deviceUp} alt="device mock" />
    </div>
    <div class="lg:col-start-3 lg:row-start-4 lg:h-[65vh]">
        <div class="observer">
            <h3 class="font-semibold text-2xl py-3 text-brand-primary-400 transition-all duration-700">
                Swap currencies seamlessly with our transparent and competitive rates.
            </h3>
            <p class="py-4 leading-7 text-gray-300 transition-all duration-700">
                Our platform offers multiple currency wallets, simplifying the process of sending and receiving money in
                your preferred currency, all within one global app accepted in our operating countries
            </p>
        </div>
    </div>
    <div class="hidden lg:flex lg:col-start-2 lg:justify-center sticky top-2">
        <Image class="max-w-xs" src={mockup} alt="mockup" />
    </div>
</section>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const sections = document.querySelectorAll(".observer")
        const observer = new IntersectionObserver(
            (entries) => {
                entries.forEach((entry) => {
                    const header = entry.target.children[0]
                    const paragraph = entry.target.children[1]
                    if (entry.isIntersecting) {
                        header.classList.remove("text-brand-primary-400")
                        paragraph.classList.remove("text-gray-300")
                    } else {
                        header.classList.add("text-brand-primary-400")
                        paragraph.classList.add("text-gray-300")
                    }
                })
            },
            { threshold: 0.95 }
        )

        sections.forEach((section) => {
            observer.observe(section)
        })
    })
</script>
