---
import { Image } from "astro:assets"

import deviceUp from "@assets/device-up.png"
import deviceDown from "@assets/device-down.png"
import mockup from "@assets/mockup.png"
import sendMoney from "@assets/send-money.png"
import wallet from "@assets/wallet.png"
---

<section
    class="grid grid-cols-1 lg:grid-cols-3 lg:grid-rows-[auto] py-16 px-8 md:px-20 lg:px-16 xl:px-32 justify-center gap-5 relative"
>
    <div class="bg-brand-primary-200 rounded-xl pt-14 flex justify-center lg:hidden">
        <Image src={deviceUp} alt="device mock" />
    </div>
    <div class="lg:col-start-1 lg:row-start-1 lg:h-[65vh]">
        <div class="observer">
            <h3 id="send-money" class="font-semibold text-2xl py-3 text-gray-300 transition-all duration-700">
                Send Money
            </h3>
            <p class="py-4 leading-7 text-gray-300 transition-all duration-500">
                Fast, seamless, affordable with instant delivery
            </p>
        </div>
    </div>
    <div class="bg-brand-primary-200 rounded-xl pb-14 flex justify-center lg:hidden">
        <Image src={deviceDown} alt="device mock" />
    </div>
    <div class="lg:col-start-3 lg:row-start-2 lg:h-[65vh]">
        <div class="observer">
            <h3 id="exchange-money" class="font-semibold text-2xl py-3 text-gray-300 transition-all duration-700">
                Exchange Currencies
            </h3>
            <p class="py-4 leading-7 text-gray-300 transition-all duration-700">
                Our platform offers multi-currency accounts, simplifying the process of sending and receiving money in
                your preferred currency. Keep all your currencies in one place, effortlessly switch between them, and
                make transactions without hassle—all within one global app.
            </p>
        </div>
    </div>
    <div class="bg-brand-primary-200 rounded-xl pb-14 flex justify-center lg:hidden">
        <Image src={deviceDown} alt="device mock" />
    </div>
    <div class="lg:col-start-1 lg:row-start-3 lg:h-[65vh]">
        <div class="observer">
            <h3 id="multi-currency-wallet" class="font-semibold text-2xl py-3 text-gray-300 transition-all duration-700">
                Fund Accounts
            </h3>
            <p class="py-4 leading-7 text-gray-300 transition-all duration-700">
                Conveniently fund your account through multiple options.
            </p>
        </div>
    </div>
    <div class="bg-brand-primary-200 rounded-xl pt-14 flex justify-center lg:hidden">
        <Image src={deviceUp} alt="device mock" />
    </div>
    <div class="lg:col-start-3 lg:row-start-4 lg:h-[65vh]">
        <div class="observer">
            <h3
                id="add-money"
                class="font-semibold text-2xl py-3 text-gray-300 transition-all duration-700"
            >
                B-Now
            </h3>
            <p class="py-4 leading-7 text-gray-300 transition-all duration-700">
                Instantly move money within the Banffpay ecosystem.
            </p>
        </div>
    </div>

    <div id="send-money-img" class="hidden lg:col-start-2 lg:justify-center hide">
        <Image class="max-w-[75%]" src={sendMoney} alt="mockup" />
    </div>
    <div id="exchange-money-img" class="hidden lg:col-start-2 lg:justify-center hide">
        <Image class="max-w-[75%]" src={mockup} alt="mockup" />
    </div>
    <div id="multi-currency-wallet-img" class="hidden lg:col-start-2 lg:justify-center hide">
        <Image class="max-w-[75%]" src={wallet} alt="mockup" />
    </div>
    <div id="add-money-img" class="hidden lg:col-start-2 lg:justify-center hide">
        <Image class="max-w-[75%]" src={mockup} alt="mockup" />
    </div>
</section>

<style>
    .hide {
        opacity: 0;
        filter: blur(5px);
        transform: translateX(-100%);
        transition: all 0.7s ease-in-out;
    }

    .show {
        opacity: 1;
        filter: blur(0);
        transform: translateX(0);
        transition: all 0.7s ease-in-out;
    }
</style>
